{% extends 'layout.html' %}

{% block title %}
    <title>管理员页面</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <input type="button" id="btnAdd" value="新建管理员" class="btn btn-primary"></input>
            {#            <input type="button" id="btnStatus" value="切换当前状态" class="btn btn-primary"></input>#}
            <input type="button" value="开启学生选择阶段" class="btn btn-primary btn-status" status="0"></input>
            <input type="button" value="第一阶段" class="btn btn-primary btn-status" status="1"></input>
            <input type="button" value="第二阶段" class="btn btn-primary btn-status" status="2"></input>
            <input type="button" value="第三阶段" class="btn btn-primary btn-status" status="3"></input>
        </div>
        <div class="alert-heading">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">管理员姓名</th>
                    <th scope="col">操 作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr id="{{ obj.ADM_NBR }}">
                        <th>{{ obj.ADM_NBR }}</th>
                        <td>{{ obj.ADM_NAM }}</td>
                        <td>
                            <a uid="{{ obj.ADM_NBR }}" class="btn btn-primary btn-sm btn-edit">编辑</a>
                            <a uid="{{ obj.ADM_NBR }}" class="btn btn-danger btn-sm btn-delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </nav>
    </div>

    {#    新建对话框#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span></button>
                    <h4 class="modal-title container" id="myModelLabel">添加管理员</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formAdd">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-xs-6">
                                <div class="form-group">
                                </div>
                            </div>
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span class="error-msg" style="color: red;"></span>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button id="btnSave" type="button" class="btn btn-primary">保存</button>

                </div>
            </div>
        </div>
    </div>

    {#    删除对话框#}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert modal-content alert-danger" role="alert">
                <h4 class="alert-heading">是否确定删除？</h4>
                <p>删除所有相关连数据</p>
                <hr>
                <p style="text-align: right;">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>

{% endblock %}



{% block js %}
    <script type="text/javascript">
        var DELETE_ID;
        var EDIT_ID;
        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeletEvent();
            bindBtnConfirmDeleteEvent();
            bindBtnEditEvent();
            bindBtnStatusEvent();
            bindBtnStatusEvent1();
        })

        function bindBtnStatusEvent1() {
            $(".btn-status").click(function () {
                $.ajax({
                    url: "/admin_info/status_s/",
                    type: "GET",
                    data: {'status': $(this).attr('status')},
                    success: function (res) {
                        if (res.status) {
                            alert(res.alert);
                        } else {
                            alert("切换失败！！");
                        }
                    }
                })
            })
        }

        function bindBtnStatusEvent() {
            $("#btnStatus").click(function () {
                $.ajax({
                    url: "/admin_info/status/",
                    type: "GET",
                    success: function (res) {
                        if (res.status) {
                            alert(res.alert);
                        } else {
                            alert("切换失败！！");
                        }
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                EDIT_ID = undefined;
                $("#formAdd")[0].reset();
                $("#id_ADM_NBR").removeAttr("readonly");
                $("#id_ADM_PWD").attr("type", "password");
                $(".error-msg").empty();
                $("#myModelLabel").text("新建");
                $("#myModal").modal("show");
            })
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {

                $(".error-msg").empty();
                if (EDIT_ID) {
                    doEdit();
                } else {
                    doAdd();
                }

            })
        }

        function doAdd() {
            $.ajax({
                url: "/admin_info/add/",
                type: "post",
                data: $("#formAdd").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        alert("新增成功");
                        $("#formAdd")[0].reset();
                        $("#myModal").modal("hide");
                        location.reload();
                    } else {
                        $.each(res.error, function (name, errorList) {
                            $("#id_" + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }

        function doEdit() {
            $.ajax({
                url: "/admin_info/edit/" + "?uid=" + EDIT_ID,
                type: "post",
                data: $("#formAdd").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        alert("维护成功");
                        $("#formAdd")[0].reset();
                        $("#myModal").modal("hide");
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips)
                        } else {
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0]);
                            })
                        }

                    }
                }
            })
        }

        function bindBtnDeletEvent() {
            $(".btn-delete").click(function () {
                $("#deleteModal").modal("show");
                DELETE_ID = $(this).attr("uid");
            })
        }

        function bindBtnConfirmDeleteEvent() {
            $("#btnConfirmDelete").click(function () {
                $.ajax({
                    url: "/admin_info/delete/",
                    data: {
                        "uid": DELETE_ID
                    },
                    type: "GET",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("删除成功");#}
                            {#$("#deleteModal").modal('hide');#}
                            {#$("tr[uid='" + DELETE_ID + "']").remove();#}
                            {##}
                            {#DELETE_ID = "";#}

                            location.reload();

                        } else {
                            alert("删除失败！")
                        }
                    }

                })
            })
        }

        function bindBtnEditEvent() {
            $(".btn-edit").click(function () {
                $("#myModelLabel").text("编辑");
                $("#id_ADM_NBR").attr("readonly", "readonly");
                $("#id_ADM_PWD").attr("type", "password");
                $(".error-msg").empty();
                var uid = $(this).attr("uid");
                EDIT_ID = uid;
                $("#myModal").modal("show");
                $.ajax({
                    url: "/admin_info/detail/",
                    data: {
                        "uid": uid
                    },
                    type: "GET",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $.each(res.data, function (name, value) {
                                $("#id_" + name).val(value);
                            })
                        } else {
                            alert(res.error);
                        }
                    }

                })


            })
        }
    </script>
{% endblock %}


